    
    <footer>
        <div class="redes-sociales">
          <img src="../public/images/msaje.jpg" />
          <img src="../public/images/instagram.jpg" />
          <img src="../public/images/facebook.png" />
          <img src="../public/images/twitter.png" />
        </div>
      </footer>