    
    <footer>
        <div class="redes-sociales">
          <img src="/images/msaje.jpg" />
          <img src="/images/instagram.jpg" />
          <img src="/images/facebook.png" />
          <img src="/images/twitter.png" />
        </div>
      </footer>