<%- include('head'); %> 
<body> 
    <%- include('header'); %> 
    <main class="imagen_fondo2">
        <h2 id="congrats">FELICITACIONES! PASAS A LA SIGUIENTE RONDA <br /> <button id="continue" onclick="startAgain()">CONTINUAR</button></h2>
        <div id="gameBox" onclick="startTimer(oneMinute, timeBox)">
            <div class="card" id="card1"><div id="cardBack1" class="par1 cardBack"></div></div>
            <div class="card" id="card2"><div id="cardBack2" class="par2 cardBack"></div></div>
            <div class="card" id="card3"><div id="cardBack3" class="par1 cardBack"></div></div>
            <div class="card" id="card4"><div id="cardBack4" class="par2 cardBack"></div></div>
        </div>
            <div id="gameOver2"><h1>¡Perdiste!</h1>
                <button id="tryAgain" onclick="startAgainLooser()">Empezar de nuevo</button>
            </div>
            <div id="endBox"><h1>¡Juego Finalizado!</h1>
                <button id="goToRanking"><a href="/ranking">Ver ranking</a></button>
            </div>
        <div class="contador">
            <div class="square">Nombre</div>
            <div class="square">Puntuacion
            <br /><span id="puntuacion"></span></div>
            <div class="square">Tiempo
            <br /><span id="timer">0:30</span></div>
        <div>
    </main>
    <%- include('footer'); %> 
    <script src="/javascripts/memoryGame.js" ></script>
</body>
</html>