<header>
    <div class="code_defenders">
      <img src="/images/code_defenders_logo.png" alt="" />
    </div>
    <div class="menu-desplegable">
      <input type="checkbox" id="checkbox1"/>
      <label for="checkbox1"><img src="/images/menu_burger.png" class="icon-sandwich"/></label>
      <ul class="menu-options">
        <li>REDES SOCIALES</li>
        <li><%= title %></li>
      </ul>
    </div>
  </header>