<%- include('head'); %> 
  <body>
    
    <%- include('header'); %> 
      <main class="imagen_fondo">
        <div class="logo_galaxy2">
          <img src="/images/LOGO.png" alt="" />
        </div>
  
      <aside>
        <div class="columna_izq">
          <div class="log_in">
            <h2>LOGIN</h2>
            <form class="formularioLogIn" name="logIn" id="logIn">
                <input type="text" placeholder="usuario" id="usename" name="username"/>
                <input type="password" placeholder="contraseña" id="password" name="password" />
                <input type="button" onclick="submitLogIn()">A JUGAR!</button>
            </form>
          </div>
        </div>
      </aside>
  
      <aside>
        <div class="columna_rigth">
          <div class="sign_up">
            <h2>SIGN UP</h2>
            <form id="signUp" name="signUp" class="formularioSignUp" method="POST">
                <input type="text" placeholder="nombre" name="name" id="nombreSign" />
                <input type="text" placeholder="usuario" name="username" id="usuarioSign" />
                <input type="text" placeholder="correo" name="mail" id="correoSign" />
                <input type="password" placeholder="contraseña" name="password" id="passwordSign" />
                <input type="button" value="INGRESAR" onclick="submitSignUp()"/>
            </form>
          </div>
        </div>
      </aside>
    </main>

    <script src="/javascripts/login.js" ></script>

    <%- include('footer'); %> 
    <script src="../javascripts/login.js"></script>
  </body>
</html>
