<%-include('head'); %>
<body>
    <header>
        <div class="code_defenders"><img src="/images/code_defenders_logo.png" alt=""></div>
        <div class="menu-desplegable">
           <input type="checkbox"  id="checkbox1">
           <label for="checkbox1"><img src="/images/menu_burger.png" class="icon-sandwich"></label>
           <ul class="menu-options">
               <li><a href="/index.ejs">INICIO</a></li>
               <li>INSTRUCCIONES</li>
           </ul>
        </div>
    </header>
    <main>
        <img src="./images/fondo_desktop.png" alt="">
    </main>
    <%-include('footer'); %>
</body>
