body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

@font-face {
  font-family: Orbitron;
  src: url("../fuentes/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: Ubuntu;
  src: url("../fuentes/Ubuntu-Light.ttf");
}

@font-face {
  font-family: atures300;
  src: url("/assets/font/Atures300PersonalUseOnly-amxR.ttf");
}
@media screen and (max-width:660px) {
  

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url(../images/barra_header.png);
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.code_defenders {
  display: block;
  padding-top: 1em;
}

.code_defenders img {
  width: 220px;
}

.icon-sandwich {
  width: 8%;
  align-self: flex-end;
  position: absolute;
  top: 2.8em;
  right: 2.3em;
  cursor: pointer;
}

header input {
  display: none;
}

#checkbox1:checked ~ .menu-options {
  display: block;
  cursor: pointer;
}

.menu-desplegable {
  align-items: flex-end;
}

.menu-options {
  position: absolute;
  text-align: justify;
  display: none;
  flex-direction: column;
  align-content: center;
  right: 0.5em;
  top: 5.4em;
  padding-top: 1em;
  padding-right: 2em;
  background-color: rgb(56, 248, 18);
  z-index: 5;
}

header ul li {
  font-size: 15px;
  list-style: none;
  margin-left: 4px;
  padding-bottom: 2em;
  font-family: orbitron;
  width: 100%;
  color: white;
}

header ul li:hover {
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  cursor: pointer;
  color: rgb(111, 255, 121);
}

.logo_galaxy2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo_galaxy2 img{
  width: 60%;
  height: auto;
}

.log_in {
  height: 400px;
  width: 50%;
 
}

.log_in h2 {
  font-family: Orbitron;
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 10em;
}

.formularioLogIn {
  display: none;
  position: absolute;
  top: 5em;
  left: 2.5em;
  transition: 0.8s;
  width: 0%;
}

.formularioLogIn button {
  margin-top: 10em;
  width: auto;
  height: 60px;
  padding: 0.6em;
  background-color: #39a651;
  color: white;
  font-family: orbitron;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  position: absolute;
  left: 0.5em;
  width: 0%;
  display: none;
  cursor: pointer;
}

#usuarioLog,
#passwordLog {
  height: 30px;
  margin-top: 4em;
  border-radius: 5px;
  border: 3px solid green;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  width: 50%;
  display: block;
  text-align: center;
  font-family: orbitron;
}

.sign_up {
  height: 400px;
  width: 50%;
  margin-left: 25%;
}

.sign_up h2 {
  font-family: Orbitron;
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 10em;
}

.formularioSignUp {
  display: none;
  position: absolute;
  top: 5em;
  left: 2.5em;
  transition: 0.8s;
  width: 0%;
}

#nombreSign,
#usuarioSign,
#correoSign,
#passwordSign {
  height: 30px;
  margin-top: 3em;
  border-radius: 5px;
  border: 3px solid green;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  width: 60%;
  display: block;
  text-align: center;
  font-family: orbitron;
}

.formularioSignUp button {
  width: 65%;
  height: 30px;
  background-color: #39a651;
  color: white;
  font-family: orbitron;
  border: none;
  border-radius: 5px;
  margin-top: 4em;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  text-align: center;
}

.imagen_fondo {
  background-image: url(./public/images//galaxy_mobile.png);
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

.columna_izq {
  width: 15%;
  background-color: rgb(47, 255, 0);
  height: 600px;
  position: absolute;
  left: 0px;
  top: 6.3em;
  transition: 0.8s;
}

.columna_izq:hover {
  width: 50%;
}

.columna_izq:hover .formularioLogIn {
  width: 100%;
  display: block;
}
.columna_izq:hover .formularioLogIn button {
  width: 50%;
  display: block;
}

.columna_rigth {
  width: 15%;
  background-color: rgb(240, 245, 245);
  height: 600px;
  position: absolute;
  right: 0px;
  top: 6.3em;
  transition: 0.8s;
}

.columna_rigth:hover {
  width: 50%;
}

.columna_rigth:hover .formularioSignUp {
  width: 100%;
  display: block;
}

.columna_izq h2 {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px #086a03;
  position: absolute;
  right: 0.3em;
}
.columna_izq:hover h2 {
  top: 2em;
  left: 0.5em;
  transform: rotate(0deg);
  transition: 0.6s;
}
.columna_rigth h2 {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px #086a03;
  position: absolute;
  top: 9em;
}
.columna_rigth:hover h2 {
  top: 2em;
  right: 3em;
  transform: rotate(0deg);
  transition: 0.6s;
}

.redes-sociales {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  margin-left: 45%;
}

.redes-sociales img {
  align-self: center;
  width: 25px;
  margin-left: 5px;
}

footer {
  background-image: url(../images//barra_header.png);
  background-size: cover;
  padding: 0px;
}
}

.imagen_fondo2 {
    background-image: url(../images//fondo_desktop.png);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#gameBox{
  border: 1px solid white;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  align-self: center;
  margin-top: 2em;  
}

/************************************************************ efecto voltear carta *************/
 .card {
  float: left;
  margin: 10px;
  margin-top: 1em;
  height: 100px;
  width: 80px;
  background: yellowgreen;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;
  transition: transform 0.2s;
  transform-style: preserve-3d;
} 

.card:active{
  transform: rotateY(180deg);
} 

.cardBack{
  transform: rotateY(180deg);
} 

.contador{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 2em;
  height: 20%;
}

.contador .square{
  color: white;
  font-family: Orbitron;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 35%;
  height: 100px;
}

.par1{
  background-image: url(../images/galaxia1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

.par2{
  background-image: url(../images/galaxia2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

.par3{
  background-image: url(../images/galaxia3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

.par4{
  background-image: url(../images/galaxia4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

.par5{
  background-image: url(../images/galaxia5.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

.par6{
  background-image: url(../images/galaxia6.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

.par7{
  background-image: url(../images/galaxia7.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

.par8{
  background-image: url(../images/galaxia8.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: none;
}

#congrats{
  display: none;
  color: white;
  font-family: Orbitron;
  font-size: 15px;
  text-align: center;
}

#congrats #continue{
  height: 35px;
  width: 120px;
  margin-top: 1em;
  border-radius: 5px;
  color: white;
  background-color: yellowgreen;
  font-family: Orbitron;
  text-align: center;
  border: 1px solid yellowgreen;
  box-shadow: 10px 10px 10px #ccc;
} 

#congrats #continue:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/********************** juego **********************/

@media screen and (min-width: 750px) {
    
header {
  width: 100%;
  height: 150px;
  z-index: 1;
}

.code_defenders img {
  width: 350px;
  margin-left: 20%;
}

header ul li {
  font-size: 17px;
}

.icon-sandwich {
  width: 6%;
  z-index: 2;
}

.menu-options{
  z-index: 3;
  top: 7em;
  right: 2em;
}


.card {
  float: left;
  margin: 10px;
  margin-top: 2em;
  margin-left: 1.2em;
  height: 150px;
  width: 120px;
  background: yellowgreen;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;
}



.contador{
  margin-left: 15%;
}

.contador h2{
  width: 30%;
  margin-right: 100px;
}

.redes-sociales{
  margin-bottom: 20px;
  margin-left: 45%;
} 
}

/* ***************************************    index        ************************** */ 

 @media screen and (min-width: 750px) { 
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
} 

header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-image: url(../images/barra_header.png);
}

#checkbox1{
  display: none;
}

.menu-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:white;
  list-style: none;
  width: 100%;
  align-items: flex-end;
  padding: 0px;
  font-family: atures300;
}

header ul li {
  
  font-size: 17px;
  font-family: orbitron;
}

header a:visited{
  color: white;
}

.menu-desplegable {
  display: flex;
  width: 50%;
  justify-items: flex-end;
  padding: 0px;
}

.code_defenders{
position: absolute;
left: 0px;
top: 0px;
}

.code_defenders img {
  width: 340px;
  height: 105px;
  position: absolute;
  left: 0px;
}

.imagen_fondo {
  background-image: url(../images/fondo_desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 810px;
}

.icon-sandwich {
  display: none;
}

.logo_galaxy2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columna_izq {
  width: 10%;
  background-color: rgb(47, 255, 0);
  height: 810px;
  position: absolute;
  left: 0px;
  top: 7.5em;
  transition: 0.8s;
}

.columna_izq:hover {
  width: 50%;
}

.columna_rigth {
  width: 10%;
  background-color: rgb(240, 245, 245);
  height: 810px;
  position: absolute;
  right: 0px;
  top: 7.5em;
  transition: 0.8s;
}

.columna_rigth:hover {
  width: 50%;
}

.log_in {
  height: 400px;
  width: 50%;
}

.log_in h2 {
  font-family: Orbitron;
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 16em;
}

.formularioLogIn {
  display: none;
  position: absolute;
  top: 9em;
  left: 2.5em;
  transition: 0.8s;
  width: 0%;
}

.formularioLogIn button {
  margin-top: 10em;
  height: 40px;
  padding: 0.6em;
  background-color: #39a651;
  color: white;
  font-family: orbitron;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  left: 0.5em;
  width: 20%;
  cursor: pointer;
}

#usuarioLog,
#passwordLog {
  height: 40px;
  margin-top: 4em;
  border-radius: 5px;
  border: 3px solid green;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  width: 50%;
  display: block;
  text-align: center;
  font-family: orbitron;
}
.sign_up {
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_up h2 {
  font-family: Orbitron;
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 15em;
}

.formularioSignUp {
  display: none;
  position: absolute;
  top: 9em;
  left: 2.5em;
  transition: 0.8s;
  width: 0%;
}

#nombreSign,
#usuarioSign,
#correoSign,
#passwordSign {
  height: 40px;
  margin-top: 2em;
  border-radius: 5px;
  border: 3px solid green;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  width: 60%;
  display: block;
  text-align: center;
  font-family: orbitron;
}

.formularioSignUp button {
  width: 20%;
  height: 40px;
  background-color: #39a651;
  color: white;
  font-family: orbitron;
  border: none;
  border-radius: 5px;
  margin-top: 4em;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(15, 29, 2);
  text-align: center;
}

.columna_izq:hover .formularioLogIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.columna_rigth:hover .formularioSignUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columna_izq h2 {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px #086a03;
  align-self: center;
   right: 2.5em; 
}

.columna_izq:hover h2 {
  top: 2em;
  left: 3em;
  transform: rotate(0deg);
  transition: 0.6s;
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.columna_rigth h2 {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px #086a03;
  left: 2.5em;
}

.columna_rigth:hover h2 {
  top: 2em;
  right: 3em;
  transform: rotate(0deg);
  transition: 0.6s;
}

footer {
  background-image: url(../images/barra_header.png);
  background-size: cover;
  padding: 0px;
}

.redes-sociales {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  margin-left: 45%;
}

.redes-sociales img {
  align-self: center;
  width: 25px;
  margin-left: 5px;
}


#gameBox{
  width: 80%;
  margin-top: 5em;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  float: left;
  margin: 1em;
  margin-top: 2em;
  margin-left: 1.8em; 
  height: 150px;
  width: 120px;
  background: yellowgreen;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;
}

#congrats {
  font-size: 30px;
}

#congrats #continue{
  height: 4em;
  width: 10em;
}
.contador{
  margin-left: 20%;
  margin-top: 2em;
}

.contador .square{
  width: 20%;
}
}

#gameOver2{
  position: absolute;
  width: 80%;
  height: 540px;
  background-color: white;
  left: 7.9em;
  top:13em;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.756);
}
#gameOver2 h1{
  font-family: orbitron;
  color: white;
}

#tryAgain{
  width: 20%;
  height: 50px;
  display: block;
  position: absolute;
  top: 25em;
  border-radius: 10px;
  background-color: #239232;
  border: 2px solid greenyellow;
  box-shadow: 0px 2px 10px 0px rgba(16, 203, 25, 0.674);
  color: white;
  font-family: orbitron;
  font-size: 15px;
  text-shadow: 0px 0px 7px rgb(8, 254, 8);
  cursor: pointer;
}


#endBox{
  position: absolute;
  width: 80%;
  height: 540px;
  background-color: white;
  left: 7.9em;
  top:13em;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.756);
}
#endBox h1{
  font-family: orbitron;
  color: white;
}

#goToRanking{
  width: 20%;
  height: 50px;
  display: block;
  position: absolute;
  top: 25em;
  border-radius: 10px;
  background-color: #239232;
  border: 2px solid greenyellow;
  box-shadow: 0px 2px 10px 0px rgba(16, 203, 25, 0.674);
  color: white;
  font-family: orbitron;
  font-size: 15px;
  text-shadow: 0px 0px 7px rgb(8, 254, 8);
  cursor: pointer;
}
